<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>

<nav class="navbar navbar-expand-lg" id="navbar-main">
    <a class="navbar-brand" href="#"><img src="images/logo.png" id="logo"></a>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 product-header">
            <h2>Список товаров</h2>
            <button class="add">Добавить товар</button>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-12 col-md-10 text-center">
            <table class="table table-striped text-center">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Название</th>
                    <th scope="col" class="d-none d-sm-table-cell">Код</th>
                    <th scope="col" class="d-none d-sm-table-cell">Тип</th>
                    <th scope="col" class="d-none d-sm-table-cell">Материал</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row" class="align-middle">1</th>
                    <td class="text-left align-middle">Терка комбинированная объемная с пластиковой ручкой Т-1у</td>
                    <td class="d-none d-sm-table-cell align-middle">12540</td>
                    <td class="d-none d-sm-table-cell align-middle">объемная</td>
                    <td class="d-none d-sm-table-cell align-middle">металл</td>
                    <td class="h-100 align-self-center">
                        <div class="container">
                            <div class="row text-center">
                                <div class="col-md-auto col-12">
                                    <button class="edit">Удалить</button>
                                    <button class="edit">Редактировать</button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="align-middle">2</th>
                    <td class="text-left align-middle">Терка четырехгранная объемная с пластиковой ручкой Т-2у</td>
                    <td class="d-none d-sm-table-cell align-middle">12540</td>
                    <td class="d-none d-sm-table-cell align-middle">объемная</td>
                    <td class="d-none d-sm-table-cell align-middle">металл</td>
                    <td class="h-100 align-self-center">
                        <div class="container">
                            <div class="row text-center">
                                <div class="col-md-auto col-12">
                                    <button class="edit">Удалить</button>
                                    <button class="edit">Редактировать</button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="align-middle">3</th>
                    <td class="text-left align-middle">Терка объемная прямоугольная с пластиковой ручкой Т-3у</td>
                    <td class="d-none d-sm-table-cell align-middle">12540</td>
                    <td class="d-none d-sm-table-cell align-middle">объемная</td>
                    <td class="d-none d-sm-table-cell align-middle">металл</td>
                    <td class="h-100 align-self-center">
                        <div class="container">
                            <div class="row text-center">
                                <div class="col-md-auto col-12">
                                    <button class="edit">Удалить</button>
                                    <button class="edit">Редактировать</button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="align-middle">4</th>
                    <td class="text-left align-middle">Терка четырехгранная объемная с металлической ручкой Тм-2у</td>
                    <td class="d-none d-sm-table-cell align-middle">12540</td>
                    <td class="d-none d-sm-table-cell align-middle">объемная</td>
                    <td class="d-none d-sm-table-cell align-middle">металл</td>
                    <td class="h-100 align-self-center">
                        <div class="container">
                            <div class="row text-center">
                                <div class="col-md-auto col-12">
                                    <button class="edit">Удалить</button>
                                    <button class="edit">Редактировать</button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="align-middle">5</th>
                    <td class="text-left align-middle">Терка плоская овощная с удлиненной ручкой ТПО - 1.1</td>
                    <td class="d-none d-sm-table-cell align-middle">12540</td>
                    <td class="d-none d-sm-table-cell align-middle">объемная</td>
                    <td class="d-none d-sm-table-cell align-middle">металл</td>
                    <td class="h-100 align-self-center">
                        <div class="container">
                            <div class="row text-center">
                                <div class="col-md-auto col-12">
                                    <button class="edit">Удалить</button>
                                    <button class="edit">Редактировать</button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="align-middle">6</th>
                    <td class="text-left align-middle">Терка нержавеющая объемная с пластиковой ручкой</td>
                    <td class="d-none d-sm-table-cell align-middle">12540</td>
                    <td class="d-none d-sm-table-cell align-middle">объемная</td>
                    <td class="d-none d-sm-table-cell align-middle">металл</td>
                    <td class="h-100 align-self-center">
                        <div class="container">
                            <div class="row text-center">
                                <div class="col-md-auto col-12">
                                    <button class="edit">Удалить</button>
                                    <button class="edit">Редактировать</button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="align-middle">7</th>
                    <td class="text-left align-middle">Терка плоская картофельная ТПК-1у</td>
                    <td class="d-none d-sm-table-cell align-middle">12540</td>
                    <td class="d-none d-sm-table-cell align-middle">объемная</td>
                    <td class="d-none d-sm-table-cell align-middle">металл</td>
                    <td class="h-100 align-self-center">
                        <div class="container">
                            <div class="row text-center">
                                <div class="col-md-auto col-12">
                                    <button class="edit">Удалить</button>
                                    <button class="edit">Редактировать</button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-1"></div>
    </div>
</div>


<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12 mb-4">
                Наш адрес: Республика Беларусь, 220036<br/>
                г. Минск, 3-й Загородный переулок, 4в<br/><br/>

                www.nikis.by<br/>
                www.nikis-product.ru
            </div>
            <div class="col-md-6 col-12">
                Партнеры<br/>
                <img src="images/p15.png" class="partner">
                <img src="images/p3.png" class="partner">
                <img src="images/p4.png" class="partner">
                <img src="images/p5.png" class="partner">
                <img src="images/p6.png" class="partner">
                <img src="images/p14.png" class="partner">
                <img src="images/p8.png" class="partner">
                <br/>
                <img src="images/p9.png" class="partner">
                <img src="images/p10.png" class="partner">
                <img src="images/p11.png" class="partner">
                <img src="images/p12.png" class="partner">
                <img src="images/p13.png" class="partner">
                <img src="images/p7.png" class="partner">
                <img src="images/p1.png" class="partner">
            </div>
        </div>
    </div>
</footer>


<script src="js//jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>