<!DOCTYPE html>
<html lang="ru">
<head>

    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<div class="container">
    <div class="form-name mt-5 mb-3">Добавление/Редактирование товара</div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Название товара</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Код товара</label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control w-25">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Изображение</label>
                    <div class="col-sm-9">
                        <img src="images/products/20530.jpg" width="40%">
                        <label class="file-choose"> Выберите файл
                            <input type="file">
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Материал</label>
                    <div class="col-sm-9">
                        <select class="custom-select" size="2">
                            <option>металл</option>
                            <option>пластик</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Ножи</label>
                    <div class="col-sm-9">
                        <select class="custom-select" size="4">
                            <option>сырный</option>
                            <option>овощной</option>
                            <option>морковный</option>
                            <option>картофельный</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Цвет</label>
                    <div class="col-sm-9">
                        <select class="custom-select" size="4">
                            <option>серый</option>
                            <option>зеленый</option>
                            <option>оранжевый</option>
                            <option>желтый</option>
                            <option>красный</option>
                        </select>
                    </div>
                </div>
                <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-3 pt-0">Удлиненная ручка</legend>
                        <div class="col-sm-9">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" value="option1" checked>
                                <label class="form-check-label">
                                    Да
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" value="option2">
                                <label class="form-check-label">
                                    Нет
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="edit">Сохранить</button>
                        <button type="submit" class="edit">Отмена</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>